PKCS#11 URI detection should be case insensitive

The PKCS#11 URI is defined in [RFC 7512](https://tools.ietf.org/html/rfc7512), where "pkcs11" is defined as a URI scheme.
URIs are defined in [RFC 3986](https://tools.ietf.org/html/rfc3986#section-3.1) which says:

> Although schemes are case-insensitive, the canonical form is lowercase and documents that specify schemes must do so with lowercase letters.

[RFC 4395](https://tools.ietf.org/html/rfc4395#section-2.8) in turn defines how to register URI schemes and it says:

> Note that although scheme names are case insensitive, scheme names MUST be registered using lowercase letters.

This was pointed out by @bagder in https://github.com/curl/curl/pull/2333

Would you submit a PR?

I can provide a fix for this, but for the simple case using ``strncasecmp()``. The complete and portable fix for this is more complicated because it is affected by the locale.